<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <header>
            <a id="logo" href="/"><img src="assets/logo.png" alt="logo Foodfy"></a>

            <a id="about" href="/about">Sobre</a>
            <a id="recipes" href="/recipes">Receitas</a>
            <a id="chefs" href="/chefs">Chefs</a>
            <input type="text" placeholder="Buscar uma receita" class="search">
            <button class="search">Buscar</button>
        </header>

        <div id="chefBackground">
            <div id="chefText">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir os melhores pratos
                    <br>
                    com receitas criadas por profissionais
                    <br>
                    do mundo inteiro.
                </p>
            </div>

            <img id="chef" src="/assets/chef.png" alt="chef">
        </div>

        <h2>Mais recentes</h2>

        <section class="cards">
            {% for recipe in recipes %}
                {% if loop.index <= 6 %}
                    <div class="card">
                        <a class="gotoDetails" href="/recipes/{{recipe.id}}">
                            <img src="{{recipe.image}}" alt="foto de {{recipe.title}}">
                        </a>
                        <h1>
                            <a class="gotoDetails" href="/recipes/{{recipe.id}}">{{recipe.title}}
                            </a>
                        </h1>
                        <p>{{recipe.name}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>