@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

#logo {
    margin-left: 16.5%;
    margin-top: 3.3%;
    margin-right: 8.7%;
    margin-bottom: 2.7%;
}

#logo:hover, #logo:active {
    cursor: pointer;
}

header {
    display: flex;
}

header a {
    color: #111111;
    margin-top: 3.4%;
    margin-right: 2.1%;
    margin-bottom: 3.3%;
    text-decoration: none;
    font-size: 1.6rem;
}

header input.search {
    width: 180px;
    height: 22px;
    margin: auto 0 auto 16%;
    padding-left: 0.4%;
    border: solid #DDDDDD 1px;
}

header button.search {
    width: 91px;
    height: 30px;
    margin: auto 0 auto 1%;
    background: #6558C3;
    border-radius: 4px;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFFFFF;

}

#chef {
    max-height: 300px;
    margin-right: 14.2%;
    margin-left: auto;
    margin-top: 6%;
}

#chefBackground {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #FBDFDB;
    margin-left: 16.4%;
    margin-right: 16.4%;
    border-radius: 30px;
}

#chefText h1 {
    margin-top: 18.6%;
    margin-left: 8.6%;
    font-size: 3.2rem;
}

#chefText p {
    margin-top: 0.9%;
    margin-left: 8.6%;

    font-size: 1.8rem;
    line-height: 2.8rem;
}

body h2 {
    margin-top: 4.5%;
    margin-bottom: 1.8%;
    margin-left: 16.8%;
    font-size: 2.4rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin-right: 16.4%;
    margin-left: 16.4%;
    margin-bottom: 15rem;
    gap: 1.4%;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
}

.card h1, .card a{
    width: fit-content;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-top: 1.8%;
    color: #111111;
}

.card p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 2%;
    margin-bottom: 5.4%;
    color: #777777;
}

.card a:visited {
    color: #111111;
    
}

.card .gotoDetails {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 1.4rem;
    color: #999999;
    background-color: #eeeeee;
    padding: 2.75%;
}

@media (max-width: 415px) {
    body h2 {
        margin-bottom: 6.8%;
    }

    header {
        margin-top: 5%;
        margin-bottom: 13.3%;
    }
}