<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/adminStyles/styleAdminRecipeCreate.css">
        <title>Criar Receita</title>
    </head>

    <body>
        <header>
            <a id="logo" href="/admin"><img src="/assets/logo-white.png" alt="logo Foodfy"></a>
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </header>

        <div class="recipeHeader">
            <h1>Criando receita</h1>
            <button id="save" type="submit" form="recipeForm">Salvar receita</button>
        </div>

        <section>
            <form class="recipeForm" id="recipeForm" method="POST" action="/admin/recipes">
                <div id="img">
                    <span>Imagem da receita</span>
                    <input type="url" name="image">
                </div>

                <div id="title">
                    <span>Título da receita</span>
                    <input type="text" name="title">
                </div>

                <div id="chef">
                    <span>Chef</span>
                    <select name="chef" id="chefId" placeholder="Selecione um Chef">
                        {% for chef in chefs %}
                            <option value="{{chef.id}}">{{chef.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="ingredients">
                    <span>Ingredientes</span>
                    <input type="text" name="ingredients[]">
                </div>
                <button class="addIngredient" type="button">Adicionar ingrediente</button>

                <div id="prepareMethod">
                    <span>Modo de preparo</span>
                    <input type="text" name="preparation[]">
                </div>
                <button class="addMethod" type="button">Adicionar novo passo</button>

                <div id="aditionalInfo">
                    <span>Informações adicionais</span>
                    <textarea name="information" cols="40" rows="5"></textarea>
                </div>
            </section>

            <script src="/scripts.js"></script>

            <footer></footer>
        </body>

    </html>